body {
  background-color: #f9f9f9;
  font-family: sans-serif;
}
.eee {
  color: #861818;
  font-style: italic;
  font-weight: bolder;
}
.formula {
  text-align: center;
  width: 800px;
  margin: 20px 0px;
}
.formula .form {
  background-color: #ffe0e0;
  padding: 5px;
}
p {
  width: 800px;
}
h2 {
  text-align: center;
  width: 800px;
}
