/* .odd {  
    color: red;
}
.eve {
    color: green;
} .eee {        
    color: red;
} */
.elem1 {
    position: absolute;
    top: 200px;
    left: 200px;

    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.elem2 {
    position: absolute;
    top: 320px;
    left: 340px;

    width: 100px;
    height: 100px;
    border: 1px solid blue;
}   
.elem3 {
    position: absolute;
    top: 450px;
    left: 480px;

    width: 100px;
    height: 100px;
    border: 1px solid green;
}
.elem4 {
    position: absolute;
    top: 200px;
    left: 500px;

    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.elem5 {
    position: absolute;
    top: 200px;
    left: 650px;

    width: 100px;
    height: 100px;
    border: 1px solid blue;
}   
.elem6 {
    position: absolute;
    top: 200px;
    left: 800px;

    width: 100px;
    height: 100px;
    border: 1px solid green;
}
.elem7 {
    position: absolute;
    top: 200px;
    left: 950px;

    width: 100px;
    height: 100px;
    border: 1px solid red;
    background-color: red;
}
.elem8 {
    position: absolute;
    top: 260px;
    left: 1010px;

    width: 100px;
    height: 100px;
    border: 1px solid blue;
    background-color: blue;
}   
.elem9 {
    position: absolute;
    top: 320px;
    left: 1070px;

    width: 100px;
    height: 100px;
    border: 1px solid green;
    background-color: green;
}
#elem1 {
    position: relative;
    top: 100px;
    width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #FF8888;
}
#elem2 {
    position: relative;
    top: 60px;
    left: 40px;
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: #7E89EB;
}
#elem3 {
    position: relative;
    top: 20px;
    left: 120px;
	width: 100px;
	height: 100px;
	margin-bottom: 40px;
	background-color: #4DEE99;
}